# Application Configuration
APP_NAME="skeleton-fast-api"
APP_ENV="dev" # dev | staging | prod | test
DEBUG=true

# Server Configuration
HOST="0.0.0.0"
PORT=8000

# CORS
ALLOWED_ORIGINS='["*"]'

# Logging: none (stdout console)
LOG_LEVEL="INFO" # DEBUG | INFO | WARNING | ERROR | CRITICAL
LOG_MODE="none"

# Authentication: none | basic | oidc
AUTH_MODE="none"

# Basic Authentication (Used when AUTH_MODE=basic)
BASIC_AUTH_USERNAME="admin"
BASIC_AUTH_PASSWORD="admin_password"  # betterleaks:allow

# OIDC Authentication (Used when AUTH_MODE=oidc)
OIDC_ISSUER_URL="https://auth.example.com/realms/myrealm"
OIDC_CLIENT_ID="my-fastapi-service"
OIDC_SSL=true

# Cron / Scheduled Jobs
CRON_ENABLED=true
CRON_HEARTBEAT_INTERVAL=60 # in seconds
